.gradle*
.idea*
*.log
*.class
*.jar
dist/
dist_old
build/
out/
gradle/
cucumberReports/
cucumber-reports/
downloads/
.project
TODO.Read
FetchedMachineIDs.txt
summarizedRecords.csv
TFSExecutionStatus.json
/target
/logs
src/main/resources/JSON_Files/EI.ExpiredToken.json